<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  	<div class="navbar navbar-header">
  		<a class="navbar-brand" href="#">Captain's Log</a>
  	</div>
  	<div class="">
   		<ul class="nav navbar-nav pull-right">
   			<li class=""><a href="/">Explore</a></li>
   		 	<li class=""><a href="/profile">Profile</a></li>
   		 	<li class=""><a href="/map">My Map</a></li>
   		 	<li class=""><a href="#">Settings</a></li>
    	</ul>
    </div>
  </div>
</nav>