<!DOCTYPE html>
<html lang="en">

<%- include _head.ejs %>

<body>

<!-- NAVIGATION -->

<%- include _nav.ejs %>

<!-- WELCOME DIV -->

  <div class="main">
    <h1>Welcome to Captain's Log</h1>
    <p>Track your trips and explore others</p>
    <div>
      <a href="#" data-toggle="modal" data-target=".signup-form-modal-lg" class="sign-buttons"><span id="signup-button">Sign Up</span></a>
      <a href="#" data-toggle="modal" data-target=".signin-form-modal-lg" class="sign-buttons"><span id="signin-button">Sign In</span></a>
    </div>
  </div>

<!-- EXPLORE DIV -->

  <div class="row">
    <div class="col-md-8 col-md-offset-2" id="explore-box">
      <h2 id="explore-search-title" class="text-center">Explore Locations</h2>
      <div class="col-md-8 col-md-offset-2">
        <div class="input-group" id="explore-input-group">
          <input type="text" class="form-control" id="searchTextField" placeholder="Location" name="location" required>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" id="explore-btn">Explore!</button>
            </span>
        </div>
        <div>
          <h2 class="text-center">Coming Soon</h2>
        </div>
      </div>
    </div>
  </div> 

<!-- SIGN UP MODAL -->

  <div class="modal fade signup-form-modal-lg" id="signup-form-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <h2>Sign Up</h2>
        <form id="signup-form">
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername" placeholder="janedoe04" name="username" required>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" name="email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Enter a password" name="password" required>
          </div>
          <div class="form-group">
            <label for="inputBio">Bio</label>
            <input type="text" class="form-control" id="inputBio" placeholder="Bio" name="bio" required>
          </div>
          <div class="form-group">
            <label for="inputLocation">Location</label>
            <input type="text" class="form-control" id="inputLocation" placeholder="City, State" name="location" required>
          </div>
          <div class="form-group">
            <label for="inputImg">Profile Picture</label>
            <input type="text" class="form-control" id="inputImg" placeholder="Paste a URL to an image (preferably square)" name="img" required>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-default">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- SIGN IN MODAL -->

  <div class="modal fade signin-form-modal-lg" id="signin-form-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form id="signin-form">
        <h2>Sign In</h2>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="janedoe@gmail.com" name="email" required>
          </div>
          <div class="form-group">
            <label for="inputImageUrl">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Enter a password" name="password" required>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>