<!DOCTYPE html>
<html lang="en">
	<!-- include head partial from ./views/_head.ejs -->
	<!-- this has all of our style and client-side script tags -->
	<% include ./_head %>
	
<body>

<!-- NAVIGATION BAR -->

	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  	<div class="navbar navbar-header">
  		<a class="navbar-brand" href="#">Captain's Log</a>
  	</div>
  	<div class="">
   		<ul class="nav navbar-nav pull-right">
   			<li class=""><a href="/">Explore</a></li>
   		 	<li class=""><a href="/profile">Profile</a></li>
   		 	<li class="active"><a href="/map">My Map</a></li>
   		 	<li class=""><a href="#">Settings</a></li>
    	</ul>
    </div>
  </div>
</nav>

<!-- MAP -->

	<div id="map" class="column myMap"></div>

</body>

</html>