<!DOCTYPE html>
<html lang="en">
	<!-- include head partial from ./views/_head.ejs -->
	<!-- this has all of our style and client-side script tags -->
	
<%- include _head.ejs %>

	
<body>

<!-- NAVIGATION BAR -->

<%- include _nav.ejs %>

<!-- MAP -->

	<div id="map" class="column myMap"></div>

	<script src="/js/map.js"></script>

</body>

</html>