<!DOCTYPE html>
<html lang="en">
	<!-- include head partial from ./views/_head.ejs -->
	<!-- this has all of our style and client-side script tags -->
	<% include ./_head %>
	
<body>
	<% include ./_nav %>
	<div id="map" class="column"></div>
</body>

</html>