<!DOCTYPE html>
<html lang="en">
	<!-- include head partial from ./views/_head.ejs -->
	<!-- this has all of our style and client-side script tags -->
	<% include ./_head %>
<body>
	<% include ./_nav %>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img src="http://i.imgur.com/Pxbyqit.png?1" id="profile-picture" alt="profile picture">
				<br>
				<h3>Brendan Bohn</h3>
				<h4>brendanbohn</h4>
				<p>Phasellus dignissim nibh et purus blandit facilisis. Aliquam vehicula pretium odio a venenatis. Nam rutrum lacus non ullamcorper hendrerit. Phasellus a tortor a sapien tincidunt egestas vitae faucibus metus. Vestibulum eu tempor magna. Duis cursus volutpat ligula id posuere. Vestibulum condimentum convallis lacus. Sed at lacus ac dui laoreet auctor.</p>
				<p id="user-city">San Francisco, CA</p>
			</div>
			<div class="col-md-9 text-center" id="profile-stream">
				<div id="log-voyage-stream">
					<button class="btn btn-default" type="submit">Log a voyage</button>
				</div>
				<div class="media text-left">
				  <div class="media-left">
				    <a href="#">
				      <img class="media-object" src="http://i.imgur.com/XXzlRIu.png?1" alt="...">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Whistler, British Colombia</h4>
				    <p>Phasellus dignissim nibh et purus blandit facilisis. Aliquam vehicula pretium odio a venenatis. Nam rutrum lacus non ullamcorper hendrerit. Phasellus a tortor a sapien tincidunt egestas vitae faucibus metus. Vestibulum eu tempor magna. Duis cursus volutpat ligula id posuere. Vestibulum condimentum convallis lacus. Sed at lacus ac dui laoreet auctor.</p>
				    <p>October 22, 2015</p>
				  </div>
			</div>
		</div>
	</div>
</body>
</html>