html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	margin: 0 0 50px 0;
}
h2 {
	text-align: center;
	margin: 0 0 25px 0;
}
p {
	font-size: 12px;
}
.media p {
	margin: 10px 75px 10px 0;
}
/* 	MAP 	*/
#map {
	height: 100vh;
	width: 100vw;
}
/* 	NAVBAR 	*/

/*.navbar {
	background-color: rgba(255,255,255,.5);
}*/

/* 	EXPLORE 	*/
.main>#map {
	z-index: -999;
}
#explore {
	height: 30vh;
	background-color: rgba(30,30,30,.4);
	position: absolute;
	right: 0;
	bottom: 0;
}
.main a {
	margin: 0 25px;
	text-decoration: none;
	color: white;
	background-color: rgba(255,255,255,.5);
	width: 500px;
	padding: 10px 40px;
	border-radius: 2px;
	text-align: center;
}
.main a:hover {
	margin: 0 25px;
	text-decoration: none;
	color: white;
	background-color: rgba(0,0,0,.5);
}
#signup-form,
#signin-form {
	margin: 25px;
}
.search {
	height: 100px;
	width: 100%;
	background: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0;
	left: 0;
}
.navbar-center {
	margin: 25px 0 0 0;
}
.modal h2 {
	padding-top: 25px;
	text-align: center;
}
#explore-search-title {
	
}

/*	PROFILE PAGE 	*/

/*user info*/

#profile-picture {
	height: 200px;
	width: 200px;
	margin: 100px 0 25px 0;
}
.myMap {
	height: 100%;
}
h4 {
	color: gray;
}
#user-city {
	color: gray;
}

/*profile stream*/
#profile-content {
	margin: 90px 0 0 0;
}
#profile-content-stream {
	margin: 0 0 50px 0;
}
img.media-object {
	height: 100px;
	width: 100px;
}
h3.media-heading {
	font-size: 20px;
}
img.media-object,
h3.media-heading {
	margin: 50px 0 0 0;
}
.close {
	margin: 0 100px 0 0;
}

/* 	EXPLORE 	*/
#explore-results {
	margin: 50px 0 50px 0;
}
.date {
	color: gray;
}

/* create new post */
#inputDescription {
	height: 108px;
}
#searchTextField {
	margin: 0 0 25px 0;
}

